{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Free Board</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h5 class="card-title">제목</h5>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">{{ post[2] }}</p>
                </div>
            </div><br>

            <h5 class="card-title">내용</h5>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">{{ post[3] }}</p>
                </div>
            </div><br>

            <h5 class="card-title">첨부 파일</h5>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">첨부 파일:</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
